body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	line-height: 1.8em;
	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word
}

body:focus {
	outline: none
}

::selection {
	background-color: pink;
}

header{
	text-align:center;
	display:flex;
	height:300px;
	padding-top:100px;
	
}

h1{
	margin:0 auto;
	font-size:2em;
	font-family: 'Libre Barcode 39', cursive;
	font-weight:300;
	flex:1;
	

}

h1 .normal-font {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:1em;
	letter-spacing: 1.8px;
	flex:1;
}



h2 {
	font-size: 1.2em;
	margin-top: 50px
}

h2:first-child {
	margin-top: 0
}

p {
	margin-bottom: 1.5em;
	margin-bottom: 1.5em
}



a {
	color:black;
	text-decoration: none;
}

a:hover {
	text-decoration: none;

}


div,
a,
img,
header,
footer,
main {
	box-sizing: border-box
}







.list {
	display:table; 
	margin:0 auto;
}


section {
	
	height: 300px;
	margin:50px;

}

section h2{
	text-align: center;
	font-size:2em;
	font-weight:300;
}
.work-section {

}

.facts-section {

}

.contact-secion {

}



/*
@media 

line break or use display block?
white-space: pre; */


@media screen and (max-width: 750px) {
	.list {
		display:table; 
		margin: 0;
	}
}

@media screen and (max-width: 600px) {
	section {
		margin:5px;
	
	}
}







footer {
	text-align:center;
	padding:100px 0 200px 0;
	color:white;
	background-color:black;
}