* {
    font-family: 'Roboto', sans-serif;
}
/* buttons */
a.email-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    border-radius:0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    text-align:center;
    transition: all 0.2s;

}

a.email-button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
    a.email-button{
    display:block;
    margin:0.4em auto;
    }
}
/* endbuttons */

h1.intro {
    text-align:center;
    font-size:5em;
    margin: 1em auto;
    color: white;
    font-style: black;
}

section.first-section{
    background-color:#413505;
    position: absolute;;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
}