* {
    font-family: 'Roboto', sans-serif;
    
}
.icon{

    position:sticky;
    top:0;
    text-align:center;

}

a.email-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid black;


    border-radius:0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
    font-weight: bold;
}

a.email-button:hover{
    color:white;
    background-color:black;
    
}

@media all {
    a.email-button{
    display:block;
    }
}

section.first-section {
    background-color:#f8f4f4;
    margin:0;
    padding: 5em 0.5em;
    text-align:center; 

}

section.second-section {
    background-color:#f0e3fd;
    margin:0;
    padding: 5em 0.5em;
    text-align:center; 
}

.description{
    font-size:16px;
    margin: 1em 0;
}